@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.445),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 17, 255, 0.685), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 2px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  height: 30px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./cool-background.png");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  font-family: "Lobster", cursive;
}

.textarea {
  resize: vertical;
  overflow-y: visible;
  height: 50vh;
}

.sign-in-form {
  margin-top: 5%;
  max-width: 30%;
}
.sign-in-card {
  background: #c9f3bd;
}

.sign-out-btn {
  background-color: #6200ee;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
}

.sign-out-btn:hover {
  background-color: #6300ee7a;
  transform: translateY(-3px);
}
.sign-out-btn:active {
  transform: translateY(1px);
}

@media only screen and (max-width: 728px) {
  .sign-in-form {
    max-width: 80%;
  }
}

.todo-list {
  max-height: 0px;
  overflow: hidden;
}

.todo-list.todo-list-active {
  max-height: 800px;
  animation: load-in 1s ease-in;
}

@keyframes load-in {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 700px;
  }
}

.new-todo {
  opacity: 0;
}

.new-todo.new-todo-loaded {
  opacity: 1;
  animation: on-load 0.5s ease-in;
}

@keyframes on-load {
  0% {
    opacity: 0.5;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.todo-list-item {
  position: relative;
}

.trash-icon {
  position: absolute;
  right: 25px;
  font-size: 20px;
}

.trash-icon i {
  transition: all 0.3s;
}

.trash-icon:hover i {
  color: red;
  transform: rotate(-15deg) scale(1.2);
  cursor: pointer;
}

.reset-btn {
  max-width: 100%;
}

.sign {
  user-select: none;
}

.sign:hover {
  color: #6200ee;
  transition: color 0.3s;
}
.sign-active {
  color: #6200ee;
  user-select: none;
  transition: color 0.3s;
  text-decoration: underline;
}

.form-active {
  animation: form-load 0.3s ease-in;
}

@keyframes form-load {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.user-icon {
  width: 40px;
  height: 40px;
  background-color: #6200ee;
  color: white;
  border-radius: 50%;
  outline: 3px solid #6300ee60;
  user-select: none;
  transition: filter 0.5s;
}

.user-icon:hover {
  background-color: #6300eed8;
}

.cdn-search-bar {
  border-radius: 100px;
}

.cdn-search-form {
  position: relative;
}

.cdn-search-icon {
  position: absolute;
  left: 20px;
  top: 22px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

input#search {
  border: 1px solid rgba(0, 0, 0, 0.664);
}
